/* Reset básico */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Corpo */
body {
    background-color: #d60000;
    font-family: 'Montserrat', sans-serif;
}

/* Título principal */
main h1 {
    text-align: center;
    color: #ffcc66;
    font-size: 70px;
    margin: 40px 0;
    letter-spacing: 4px;
    font-weight: 400;
    font-family: 'Monoton', regular;
}

/* Seção principal */
main section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 60px;
}

/* Botões seta */
.seta-carrousel {
    width: 70px;
    height: 90px;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    transition: transform 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.seta-carrousel img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Botão da esquerda */
.seta-direita {
    transform: rotate(180deg);
}

.seta-direita:hover {
    transform: rotate(180deg) scale(1.05);
}

/* Efeito hover */

/* Mantém rotação correta no hover do botão esquerdo */
.seta-esquerda:hover {
    transform: scale(1.05);
}
/* Card principal */
article {
    background-color: #f2f2f2;
    width: 500px;
    padding: 25px;
    border-radius: 20px;
    text-align: center;
}

article img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

article h2 {
    margin-bottom: 15px;
}

article p {
    margin-bottom: 15px;
    color: #555;
    font-size: 14px;
}

article button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #d60000;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

/* Card lateral */
aside {
    background-color: #f7d77d;
    width: 220px;
    padding: 15px;
    border-radius: 20px;
    text-align: center;
}

aside img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

aside h3 {
    font-size: 14px;
    margin-bottom: 8px;
}

aside p {
    font-size: 12px;
}

